@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway");

.navbar {
  z-index: 10;
  width: 100%;
  background: #e6a07f;
  height: 10%;
  margin: 0;
}

.navbarTitle{
  font: 1.8em "Raleway", sans-serif;
  letter-spacing: 1.5px;
  color: #333;
  text-transform: uppercase;
  margin: 0;
}

.navbarTitle:hover {
  cursor: pointer;
  color: rgb(129, 13, 13) !important;
}

.dropdown-menu {
  color: rgb(129, 13, 13) !important;

}

.link {
  text-transform: uppercase;
  font: 1.6em "Raleway", sans-serif;
  color: #333;
}
.link:hover {
  cursor: pointer;
  color: rgba(170, 36, 18, 0.849) !important;
}

.navImage{
  float: left;
  padding-bottom: 2%;
  padding-right: 3%;
  background-color:  transparent;
  transform: scale(1.2);
  z-index: 0;
}


.brandbox{
  z-index: 10;
  width:500px;
}